<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.b10626.myapplication">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".Splash"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".MainActivity"
            android:label="@string/join"></activity>
        <activity android:name=".Join"
            android:label="@string/join"></activity>
        <activity android:name=".Login_menu"
            android:label="@string/Login"></activity>
        <activity android:name=".UserData"
            android:label="@string/trade_detail"> </activity>
        <activity android:name=".user_chart"
            android:label="@string/graph"></activity>
        <activity android:name=".Contents_list"
            android:label="@string/Contents"></activity>
        <activity android:name=".content_detail"
            android:label="@string/content_detail"></activity>
        <activity android:name=".Z_Organlist"
            android:label="@string/content_detail"></activity>
    </application>

</manifest>